.detail-wrap {
    width: 600px;
    margin: 0 auto;
    .detail-nav {
        display: flex;
        align-items: center;
        justify-content: center;
        .detail-nav-btn {
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 10px;
            outline: none;
            color: #fff;
            border-radius: 0;
            &.detail-nav-btn--back {
                background-color: #fafbfc;
                color: #2d292e;
                border: 1px solid #ededed;
            }
            &.detail-nav-btn--youtube {
                background-color: #ff0000;
                border: 1px solid #ff0000;
            }
        }
    }
    .detail-infor {
        position: relative;
        .detail-img {
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            &::before {
                content: "";
                display: block;
                padding-bottom: 100%;
            }
        }
        .detail-content {
            position: absolute;
            bottom: 15px;
            right: 15px;
            background-color: rgba(0, 0, 0, 0.5);
            width: 60%;
            padding: 20px;
            border-radius: 20px;
            color: #fff;
            .one-line-text {
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
                margin: 0px;
            }
            .detail-artist {
                font-weight: 600;
                margin-bottom: 15px;
                font-size: 36px;
            }
            .detail-album {
                font-size: 24px;
            }
        }
    }
    .detail-reply {
        .detail-reply__title {
            text-align: center;
            padding: 30px 20px 20px;
            font-weight: bold;
        }
        .detail-reply__replys {
            padding: 10px 20px 70px;
            .detail-reply__replys {
                border: 1px solid #ececec;
                padding: 20px;
                margin: auto;
                border-radius: 10px;
                margin-bottom: 20px;
                box-shadow: 0 7px 14px 0 rgba(8, 15, 52, 0.05);
                &:last-child {
                    margin-bottom: 0;
                }
                .detail-reply__name-wraps {
                    border-bottom: 1px solid #ddd;
                    padding-bottom: 15px;
                    margin-bottom: 20px;
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    font-size: 12px;
                    letter-spacing: -1px;
                    .detail-reply__name-user {
                        display: flex;
                        align-items: center;
                        justify-content: flex-start;
                    }
                    .detail-reply__name-text {
                        margin-right: 5px;
                    }
                    .detail-reply__name-name {
                    }
                    .detail-reply__date {
                    }
                }
                .detail-reply__modi-wrap {
                    width: 100%;
                    .detail-reply__modi {
                        width: calc(100% - 40px);
                        border: 1px solid #ececec;
                        padding: 20px;
                        margin: auto;
                        border-radius: 10px;
                        margin-bottom: 20px;
                        box-shadow: 0 7px 14px 0 rgba(8, 15, 52, 0.05);
                    }
                }
                .detail-reply__text {
                    font-size: 20px;
                    font-weight: 600;
                    line-height: 1.4;
                }
                .detail-reply__change {
                    display: flex;
                    align-items: center;
                    justify-content: flex-end;
                    margin-top: 10px;
                    .detail-reply__btn {
                        border: none;
                        background-color: #fff;
                        font-size: 12px;
                    }
                }
            }
        }
        .detail-reply__input-wrap {
            position: fixed;
            bottom: 0;
            left: 0;
            width: 100%;
            border-top: 1px solid #ececec;
            .detail-reply__input {
                border: none;
                width: 100%;
                padding: 20px;
                width: calc(100% - 22px);
            }
        }
    }
}
@media (max-width: 684px) {
    .detail-wrap {
        width: 100%;
        margin: 0 auto;
        .detail-nav {
            .detail-nav-btn {
                &.detail-nav-btn--back {
                }
                &.detail-nav-btn--youtube {
                }
            }
        }
        .detail-infor {
            .detail-img {
                &::before {
                }
            }
            .detail-content {
                .one-line-text {
                }
                .detail-artist {
                    font-weight: 600;
                    margin-bottom: 8px;
                    font-size: 24px;
                }
                .detail-album {
                    font-size: 18px;
                }
            }
        }
    }
}
