.list-wrap {
    display: flex;
    flex-wrap: wrap;
    position: relative;
    .search-infor {
        position: relative;
        width: 20%;
        box-shadow: 0 7px 14px 0 rgba(8, 15, 52, 0.3);
        .bg-img {
            width: 100%;
        }
        .music-img {
            display: block;
            transition: all 0.5s ease-in-out;
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center;
            &::before {
                content: "";
                display: block;
                padding-bottom: 100%;
                transition: all 0.5s ease-in-out;
            }
        }
        .seq-infor {
            position: absolute;
            bottom: 15px;
            right: 15px;
            background-color: rgba(0, 0, 0, 0.5);
            width: 60%;
            padding: 20px;
            border-radius: 20px;
            color: #fff;
            .one-line-text {
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
                margin: 0px;
            }
            .artist-name {
                font-weight: 600;
                margin-bottom: 5px;
            }
            .album-name {
                font-size: 16px;
            }
        }
    }
}
.no-search {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-style: italic;
    font-size: 24px;
    text-align: center;
    height: calc(100vh - 40px);
}
@media (max-width: 684px) {
    .list-wrap {
        .search-infor {
            width: 50%;
            .seq-infor {
                bottom: 10px;
                right: 10px;
                padding: 10px;
                border-radius: 0;
                .artist-name {
                    font-weight: 600;
                    margin-bottom: 5px;
                    font-size: 13px;
                }
                .album-name {
                    font-size: 10px;
                }
            }
        }
    }
}
